In [10]:
import pandas as pd
import numpy as np

In [11]:
bikes = pd.read_csv("UCI_BikeSharing_day.csv")
bikes.head(5)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [12]:
bikes = bikes.drop("dteday", axis=1)
bikes = bikes = bikes.drop("atemp", axis=1)
bikes = bikes = bikes.drop("casual", axis=1)
bikes = bikes = bikes.drop("registered", axis=1)

bikes.columns

Index(['instant', 'season', 'yr', 'mnth', 'holiday', 'weekday', 'workingday',
       'weathersit', 'temp', 'hum', 'windspeed', 'cnt'],
      dtype='object')

In [13]:
feature_cols = ["temp","hum","windspeed","season","yr","mnth", "weekday", "workingday"]
category_cols = ["temp","hum","windspeed","season","yr","mnth" ]
bikes_model_df = pd.get_dummies(bikes , columns= category_cols)
bikes_model_df.columns
bikes_model_df.head(5)

,instant,holiday,weekday,workingday,weathersit,cnt,temp_0.0591304,temp_0.0965217,temp_0.0973913,temp_0.1075,...,mnth_3,mnth_4,mnth_5,mnth_6,mnth_7,mnth_8,mnth_9,mnth_10,mnth_11,mnth_12
0,1,0,6,0,2,985,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,2,801,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,1,1,1,1349,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,2,1,1,1562,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,3,1,1,1600,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:

from sklearn.cross_validation import train_test_split

bike_cols = list(set(bikes_model_df.columns) - set(['cnt']))

train_X, test_X,train_Y, test_Y = train_test_split( 
                                bikes_model_df[bike_cols],
                                                 bikes_model_df.cnt,
                                                 test_size = 0.3)

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
linreg = LinearRegression()
linreg.fit(train_X, train_Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [17]:
y_pred = linreg.predict(test_X)

In [18]:
verify = pd.DataFrame({'actual':test_Y, 'predicted':np.round(y_pred,2), 'residual':(test_Y-y_pred)})
verify.head(5)

     actual  predicted     residual
68      623     804.98  -181.981082
585    7534    6021.53  1512.470241
75     2744    2152.32   591.675250
452    5698    6091.50  -393.500719
519    7641    6635.26  1005.735362

In [19]:
from sklearn import metrics

In [20]:
r2score = metrics.r2_score(test_Y, y_pred)
r2score

0.76899029415927622